<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6 col-md-5">
      <figure>
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQzF4IhX2Kp_NZqvrW2ecigECjlhZWXAJpsOjBCWUj2-vEvsuwX" class="img-fluid" alt="Adam Małysz" style="border:solid black; border-radius: 15px; margin-right:40px;">
        <figcaption class="text-center">STEINS;GATE</figcaption>
      </figure>
        
    </div>

    <div class="col-sm-6 col-md-6">
      <h2 class="text-center">STEINS;GATE</h2>
      <p class="text-center fs-3">Steins;Gate is a 2009 science fiction visual novel game developed by 5pb. and Nitroplus. Steins;Gate takes place in Akihabara in 2010. It follows the story of the self-proclaimed mad scientist Rintaro Okabe, who, alongside his friends Mayuri Shiina and Itaru Hashida, discovers that they have accidentally created a machine capable of sending messages to the past. As they research this phenomenon, they are joined by the renowned genius girl Kurisu Makise, and together they discover the dark truth behind a worldwide conspiracy lead by a secret organization. </p>
        
    </div>
    <lib-our-team></lib-our-team>
    <!-- <p id="test"></p> -->
</div>