<ul class="nav justify-content-center nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about-us">ABOUT US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/kontakt">KONTAKT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/postacie">CHARACTERS</a>
    </li>
  </ul>
<div class="container">
  <router-outlet></router-outlet>
</div>